<h2>Estudiantes</h2>
<p>Hoy es:
<%= Time.now.strftime("%d/%m/%Y") %>
</p>
<table class="table">
  <tr>
    <th>Nombre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= form_for a_sheet do |f| %>

        <%= f.fields_for :attendances do |ff|  %>
          <tr>
            <td><%= ff.label ff.object.student.name %></td>
            <td><%= ff.check_box :student_id, :label => ff.object.student.name %></td>
          </tr>
        <% end %>
<%= f.submit 'Enviar', class: 'btn' %>

<% end %>

</table>