<h1><%= @course.title %></h1>


<h3>Descripción: <%= @course.description %></h3>
<p>Fecha de inicio: <%= @course.start_date %></p>
<p>Fecha de fin: <%= @course.ending_date %></p>

<%= link_to 'Regresar', courses_path %>

