<!DOCTYPE html>
<html>
<head>
  <title>Kudyn</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand">Kudyn</a>
        <% if user_signed_in? %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to "Inicio", root_path %></li>
              <% if current_user.principal? %>
                <li><%= link_to "Grupos", groups_path %></li>
                <li><%= link_to "Cursos", courses_path %></li>
                <li><%= link_to "Estudiantes", students_path %></li>
              <% end %>
              <ul class="nav">
                <li><%= link_to "Cerrar sesión", destroy_user_session_path, :method => :delete %></li>
              </ul>
            </div><!--/.nav-collapse -->
        <% end %>
      </div>
    </div>
  </div>

  <div>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    <% end %>
  </div>
  <div class="container">
    <div class="span9">
      <%= yield %>
    </div>
  </div>
</body>
</html>
